*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
Browser default font size is usually 16px.
This sets the base font size to a % of the default.
This font size defines the value of 1rem, as rem units are relative to the root <html> element.
1rem = 10px, 10px/16px = 62.5%
*/

/* html {
    font-size : 62.5%;
} */

/* Screen size breakpoints */
@media (min-width: 1400px) {
    html {
        font-size: 70%;
    }
}
@media (max-width: 1400px) {
    html {
        font-size: 65%;
    }
}
@media (max-width: 1200px) {
    html {
        font-size: 62.5%;
    }
}
@media (max-width: 768px) {
    html {
        font-size: 60%;
    }
}
@media (max-width: 576px) {
    html {
        font-size: 55%;
    }
}


body {
    font-family: sans-serif;
}

h1 {
    font-size: 2.8rem;
    font-weight: normal;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
    text-align: start;
    padding-bottom: 10px;
}

p {
    font-size: 1.5rem;
    font-weight: normal;
    text-align: start;
}

a {
    text-decoration: none !important;
    -webkit-text-decoration: none !important;
    cursor: pointer;
}